.vo-toggle-main {
    width: 56px;
    height: 26px;
    border-radius: 13px;
    background: #ebd303;
    position: relative;
    cursor: pointer;
}

.vo-toggle-main.vo-toggle-main-active {
    background: #ebd303;
    border: 1px solid white;
}

.vo-toggle-main.vo-toggle-main-active .vo-toggle-dot {
    background-color: white;
}

.vo-toggle-main.vo-toggle-main-active .vo-toggle-icon svg {
    color: white;
}

.vo-toggle-dot {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    transition: 300ms left ease-in-out;
}

.vo-toggle-main.vo-toggle-main-active .vo-toggle-dot {
    top: 2px;
}

.vo-toggle-main-active .vo-toggle-dot {
    left: calc(100% - 23px);
}

.vo-toggle-icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.vo-toggle-icon {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: transform 300ms ease-in-out;
    transform: scale(1);
}

.vo-toggle-icon-hide {
    transform: scale(0);
}