@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HoltwoodOneSC';
  src: local('HoltwoodOneSC'), url(./assets/fonts/HoltwoodOneSC-Regular.ttf) format('opentype');;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'ComingSoon';
  src: local('ComingSoon'), url(./assets/fonts/ComingSoon-Regular.ttf) format('opentype');;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Allison';
  src: local('Allison'), url(./assets/fonts/Allison-Regular.ttf) format('opentype');;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.text-ComingSoon {
  font-family: ComingSoon;
}

.text-HoltwoodOneSC {
  font-family: HoltwoodOneSC;
}

.text-Allison {
  font-family: Allison;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgHome {
  background-image: url("./assets/images/bg-home.jpg");
}

.size-active::before {
  content: "";
  border-bottom: 1px solid #EBD303;
  width: 70%;
  position: absolute;
  top: 50%;
  transform: rotate(-25deg);
  left: 6px;
}

.size-class::before {
  left: 20px;
}

.hover-shadow:hover,
.single-color-active {
  box-shadow: 1px 1px 15px 0 rgba(0,0,0,.5);
}

.middle-absolute-back {
  position: absolute;
  top: 48%;
  left: 49.6%;
  transform: translate(-50%, -50%);
}

.middle-absolute-back-women {
  position: absolute;
  top: 48%;
  left: 50.4%;
  transform: translate(-50%, -50%);
}

.middle-absolute-back-mobile {
  position: absolute;
  top: 52.5%;
  left: 50.8%;
  transform: translate(-50%, -50%);
}

.middle-absolute-rSleeve-men {
  position: absolute;
  top: 60%;
  left: 44%;
  transform: translate(-50%, -50%);
}

.middle-absolute-rSleeve-women {
  position: absolute;
  top: 60%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.middle-absolute-lSleeve-women {
  position: absolute;
  top: 60%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.middle-absolute-lSleeve-men {
  position: absolute;
  top: 60%;
  left: 56%;
  transform: translate(-50%, -50%);
}

.middle-absolute-front {
  position: absolute;
  top: 49.4%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

.middle-absolute-front-cut {
  position: absolute;
  top: 48%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.middle-absolute-front-other {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-absolute-front-women {
  position: absolute;
  top: 52%;
  left: 49.6%;
  transform: translate(-50%, -50%);
}

.middle-absolute-front-women-mobile {
  position: absolute;
  top: 56%;
  left: 49.6%;
  transform: translate(-50%, -50%);
}

.middle-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sticker-box {
  flex: 0 1 11%;
}

.sticker-box-border {
  flex: 1 1;
}

.fit-content {
  width: fit-content;
}

.sticker-preview-photo {
  box-shadow: 10px 10px 5px 6px #4d4d4d61;
}

input:focus-visible {
  outline: none;
}

.box {
  height: 100px;
  border-bottom: 7px solid white;
  transform: skewY(-3deg);
  transform-origin: left;
  position: relative;
  overflow: hidden;
  top: -33px;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d8d8d8;
  transform: skewY(0deg);
  transform-origin: left;
}

.box-top {
  height: 100px;
  border-bottom: 6px solid white;
  transform: skewY(-0.7deg);
  transform-origin: left;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

.box-preview-top {
  height: 60px;
  border-bottom: 15px solid white;
  transform: skewY(-2deg);
  transform-origin: left;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  left: 0;
  top: -12px;
}

.box-preview-bottom {
  height: 15px;
  border-bottom: 25px solid white;
  transform: skewY(-2deg);
  transform-origin: left;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  left: 0;
  top: 0;
}
.transparent-material {
  background-image: url("assets/images/transparent-material.png");
}